[project]
	description = Automatically exported from code.google.com/p/word2vec
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/A-Tsai (A-Tsai)
[access "refs/for/refs/*"]
	read = group user/A-Tsai (A-Tsai)
	push = group user/A-Tsai (A-Tsai)
	label-Code-Review = -2..+2 group user/A-Tsai (A-Tsai)
	label-Verified = -1..+1 group user/A-Tsai (A-Tsai)
	rebase = group user/A-Tsai (A-Tsai)
	removeReviewer = group user/A-Tsai (A-Tsai)
	submit = group user/A-Tsai (A-Tsai)
[access "refs/heads/*"]
	read = group user/A-Tsai (A-Tsai)
	create = group user/A-Tsai (A-Tsai)
	push = +force group user/A-Tsai (A-Tsai)
	pushMerge = group user/A-Tsai (A-Tsai)
[access "refs/tags/*"]
	push = +force group user/A-Tsai (A-Tsai)
	pushTag = group user/A-Tsai (A-Tsai)
	pushSignedTag = group user/A-Tsai (A-Tsai)
